.choose-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  .buttons {
    display: flex;
    gap: 50px;

    button {
      img {
        width: 200px;
      }
    }
  }
}
